<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card shadow-sm">
        <div class="card-body p-5">
          <h2 class="text-center mb-4">Create Your Account</h2>
          
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'needs-validation', novalidate: true }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            
            <div class="form-floating mb-3">
              <%= f.text_field :username, class: "form-control", placeholder: "username", required: true %>
              <%= f.label :username, "Username" %>
            </div>
            
            <div class="form-floating mb-3">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email", required: true %>
              <%= f.label :email %>
            </div>
            
            <div class="form-floating mb-3">
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Password", required: true %>
              <%= f.label :password %>
              <% if @minimum_password_length %>
                <div class="form-text"><%= @minimum_password_length %> characters minimum</div>
              <% end %>
            </div>
            
            <div class="form-floating mb-4">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Password confirmation", required: true %>
              <%= f.label :password_confirmation, "Confirm Password" %>
            </div>
            
            <div class="d-grid gap-2">
              <%= f.submit "Sign up", class: "btn btn-primary btn-lg" %>
            </div>
          <% end %>
          
          <div class="text-center mt-3">
            <p class="mb-0">Already have an account? <%= link_to "Log in", new_session_path(resource_name), class: "text-decoration-none fw-bold" %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
